body{
    background-image: url(pngtree-an-orange-rose-in-a-dark-garden-picture-image_2659347.jpg);
}
a{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(8, 140, 255);
  text-decoration: none;
  font-size: 100px;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
body, main{
    background-color: red;

}
h2{
    color: aliceblue;
    text-align: center;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);

}
audio{
    display: none;

}